export(plot.wb, power.sum, test.data, wave.band, print.wb, summary.wb)
import(wavethresh)
useDynLib(waveband, .registration=TRUE, .fixes="C_")
S3method(plot, wb)
S3method(print, wb)
S3method(summary, wb)
importFrom("graphics", "lines", "plot")
importFrom("stats", "pnorm", "qnorm", "rnorm", "var")
